<h1>Welcome to TinyApp</h1>

<% if(!user) { %>
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
<% } else { %>
  <form action='/logout' method='POST'>
    <h3>Welcome <%= user %></h3>
    <button>Logout</button>
  </form>
<% } %>

